<header th:fragment="header">
    <nav class="navigation">
        <ul>
            <li class="nav-item">
                <a class="nav-link" href="">Men</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="">Women</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="">Children</a>
            </li>
        </ul>

        <ul>
            <th:block class="auth-items" th:unless="${@currentUser.isLoggedIn()}">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/users/login}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/users/register}">Register</a>
                </li>
            </th:block>

            <th:block class="auth-items" th:if="${@currentUser.isLoggedIn()}">
                <li class="nav-item">
                    <a class="nav-link" href="">Cart</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="">Profile</a>
                </li>

                <li class="nav-item">
                    <form
                            th:method="POST"
                            th:action="@{/users/logout}">
                        <input class="nav-link" type="submit" value="Logout"/>
                    </form>
                </li>
            </th:block>


            <li class="nav-item" th:if="${@currentUser.isAdmin && @currentUser.isAdmin()}">
                <a class="nav-link" href="">Administration</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="">About</a>
            </li>

        </ul>

    </nav>

</header>