<!DOCTYPE html>
<html lang="en">
<head th:replace="/fragments/head"></head>
  <body>
  <header th:replace="/fragments/header"></header>

    <main>
      <section class="form-data">
        <form
          action="/administration/add-product"
          method="POST"
          enctype="multipart/form-data"
        >
          <h4>Add new product</h4>

          <div>
            <div class="form-group">
              <label for="inputName">Name:</label>
            </div>

            <div class="form-group">
              <input
                name="name"
                required
                minlength="5"
                maxlength="20"
                type="text"
                id="inputName"
                class="form-data form-name"
              />
            </div>
          </div>

          <div>
            <div class="form-group">
              <label for="inputDescription">Description:</label>
            </div>

            <div class="form-group">
              <input
                name="description"
                required
                minlength="5"
                maxlength="20"
                type="text"
                id="inputDescription"
                class="form-data form-description"
              />
            </div>
          </div>

          <div>
            <div class="form-group">
              <label for="inputPrice">Price:</label>
            </div>

            <div class="form-group">
              <input
                name="price"
                required
                minlength="5"
                maxlength="20"
                type="number"
                id="inputprice"
                class="form-data form-price"
              />
            </div>
          </div>

          <div>
            <div class="form-group">
              <label for="inputQuantity">Quantity:</label>
            </div>

            <div class="form-group">
              <input
                name="quantity"
                required
                minlength="5"
                maxlength="20"
                type="number"
                id="inputQuantity"
                class="form-data form-quantity"
              />
            </div>
          </div>

          <div>
            <div class="form-group">
              <label for="inputColor">Color:</label>
            </div>

            <div class="form-group">
              <select
                name="color"
                required
                minlength="3"
                maxlength="20"
                type="text"
                id="color"
                class="form-data form-color"
              >
                <option value="color">red</option>
                <option value="color">green</option>
                <option value="color">blue</option>
              </select>
            </div>
          </div>

          <div>
            <div class="form-group">
              <label for="inputSize">Size:</label>
            </div>

            <div class="form-group">
              <select
                name="size"
                required
                minlength="1"
                maxlength="20"
                type="text"
                id="size"
                class="form-data form-select"
              >
                <option value="size">s</option>
                <option value="size">m</option>
                <option value="size">l</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label for="category">Category</label>
          </div>

          <div class="form-radio">
            <div>
              <input
                name="categories"
                required
                type="radio"
                id="categories"
                class="form-data form-radio"
                value="men"
              />
              <label for="man">Men</label>
            </div>

            <div>
              <input
                name="categories"
                required
                type="radio"
                id="categories"
                class="form-data form-radio"
                value="women"
              />
              <label for="women">Women</label>
            </div>
          </div>



          
          <div class="form-group">
            <label for="subCategory">Sub Category</label>
          </div>

          <div class="form-checkbox">
            <div>
              <input
                name="subCategories"
                required
                type="checkbox"
                id="subCategories"
                class="form-data form-radio"
                value="shirt"
              />
              <label for="shirt">Shirt</label>
            </div>

            <div>
              <input
                name="categories"
                required
                type="checkbox"
                id="subCategories"
                class="form-data form-radio"
                value="hoodie"
              />
              <label for="hoodie">Hoodie</label>
            </div>
            <div>
              <input
                name="categories"
                required
                type="checkbox"
                id="subCategories"
                class="form-data form-radio"
                value="shorts"
              />
              <label for="shorts">Shorts</label>
            </div>

            <div>
              <input
                name="categories"
                required
                type="checkbox"
                id="subCategories"
                class="form-data form-radio"
                value="jeans"
              />
              <label for="jeans">Jeans</label>
            </div>
          </div>
        </form>
      </section>
    </main>
  </body>
</html>
