<!DOCTYPE html>
<html lang="en">
<head th:replace="/fragments/head"></head>
<body>
<header th:replace="/fragments/header"></header>


<form
        th:action="@{/administration/add-product}"
        method="POST">

    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <header class="card-header">
                    <h4 class="card-title mt-2">Add product</h4>
                </header>
                <article class="card-body">
                    <form>

                        <div class="form-group">
                            <label for="inputName">Name:</label>
                            <input type="text"
                                   class="form-control"
                                   required
                                   placeholder=""
                                   id="inputName"
                                   name="name"
                                   autofocus>
                        </div> <!-- form-group end.// -->

                        <div class="form-group">
                            <label for="inputDescription">Description:</label>
                            <input type="text"
                                   class="form-control"
                                   required
                                   placeholder=""
                                   id="inputDescription"
                                   name="description">
                        </div> <!-- form-group end.// -->

                        <div class="form-group">
                            <label for="inputPrice">Price:</label>
                            <input type="number"
                                   class="form-control"
                                   required
                                   placeholder=""
                                   id="inputPrice"
                                   name="inputPrice">
                        </div> <!-- form-group end.// -->

                        <div class="form-group">
                            <label for="inputQuantity">Quantity:</label>
                            <input type="number"
                                   class="form-control"
                                   required
                                   placeholder=""
                                   id="inputQuantity"
                                   name="inputQuantity">
                        </div> <!-- form-group end.// -->

                        <div class="form-group">
                            <label for="inputColor">Color:</label>
                            <Select type="text"
                                    class="form-control"
                                    required
                                    placeholder=""
                                    id="inputColor"
                                    name="inputColor">
                                <option value="color">red</option>
                                <option value="color">green</option>
                                <option value="color">blue</option>
                            </Select>
                        </div> <!-- form-group end.// -->

                        <div class="form-group">
                            <label for="inputSize">Size:</label>
                            <Select type="text"
                                    class="form-control"
                                    required
                                    placeholder=""
                                    id="inputSize"
                                    name="inputSize">
                                <option value="size">S</option>
                                <option value="size">M</option>
                                <option value="size">L</option>
                            </Select>
                        </div> <!-- form-group end.// -->


                        <div class="form-group">
                            <label class="form-check form-check-inline">
                                <input
                                        class="form-check-input"
                                        type="radio"
                                        name="gender"
                                        value="men">
                                <span class="form-check-label"> Man </span>
                            </label>

                            <label class="form-check form-check-inline">
                                <input
                                        class="form-check-input"
                                        type="radio"
                                        name="gender"
                                        value="women">
                                <span class="form-check-label"> Women</span>
                            </label>
                        </div> <!-- form-group end.// -->

                        <div class="form-group">
                            <label class="form-check form-check-inline">
                                <input
                                        class="form-check-input"
                                        type="checkbox"
                                        name="subCategory"
                                        value="shirt">
                                <span class="form-check-label"> Shirt </span>
                            </label>

                            <label class="form-check form-check-inline">
                                <input
                                        class="form-check-input"
                                        type="checkbox"
                                        name="subCategory"
                                        value="shirt">
                                <span class="form-check-label"> Hoodie</span>
                            </label>

                            <label class="form-check form-check-inline">
                                <input
                                        class="form-check-input"
                                        type="checkbox"
                                        name="subCategory"
                                        value="shorts">
                                <span class="form-check-label"> Shorts</span>
                            </label>

                            <label class="form-check form-check-inline">
                                <input
                                        class="form-check-input"
                                        type="checkbox"
                                        name="subCategory"
                                        value="Jeans">
                                <span class="form-check-label"> Jeans</span>
                            </label>


                        </div> <!-- form-group end.// -->


                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block" value="Add-product"> Add Product
                            </button>
                        </div> <!-- form-group// -->
                    </form>
                </article> <!-- card-body end .// -->
            </div> <!-- card.// -->
        </div> <!-- col.//-->

    </div> <!-- row.//-->

    </div>
    <!--container end.//-->
</form>

<!--        <form-->
<!--          action="/administration/add-product"-->
<!--          method="POST"-->
<!--          enctype="multipart/form-data"-->
<!--        >-->
<!--          <h4>Add new product</h4>-->

<!--          <div>-->
<!--            <div class="form-group">-->
<!--              <label for="inputName">Name:</label>-->
<!--            </div>-->

<!--            <div class="form-group">-->
<!--              <input-->
<!--                name="name"-->
<!--                required-->
<!--                minlength="5"-->
<!--                maxlength="20"-->
<!--                type="text"-->
<!--                id="inputName"-->
<!--                class="form-data form-name"-->
<!--              />-->
<!--            </div>-->
<!--          </div>-->

<!--          <div>-->
<!--            <div class="form-group">-->
<!--              <label for="inputDescription">Description:</label>-->
<!--            </div>-->

<!--            <div class="form-group">-->
<!--              <input-->
<!--                name="description"-->
<!--                required-->
<!--                minlength="5"-->
<!--                maxlength="20"-->
<!--                type="text"-->
<!--                id="inputDescription"-->
<!--                class="form-data form-description"-->
<!--              />-->
<!--            </div>-->
<!--          </div>-->

<!--          <div>-->
<!--            <div class="form-group">-->
<!--              <label for="inputPrice">Price:</label>-->
<!--            </div>-->

<!--            <div class="form-group">-->
<!--              <input-->
<!--                name="price"-->
<!--                required-->
<!--                minlength="5"-->
<!--                maxlength="20"-->
<!--                type="number"-->
<!--                id="inputprice"-->
<!--                class="form-data form-price"-->
<!--              />-->
<!--            </div>-->
<!--          </div>-->

<!--          <div>-->
<!--            <div class="form-group">-->
<!--              <label for="inputQuantity">Quantity:</label>-->
<!--            </div>-->

<!--            <div class="form-group">-->
<!--              <input-->
<!--                name="quantity"-->
<!--                required-->
<!--                minlength="5"-->
<!--                maxlength="20"-->
<!--                type="number"-->
<!--                id="inputQuantity"-->
<!--                class="form-data form-quantity"-->
<!--              />-->
<!--            </div>-->
<!--          </div>-->

<!--          <div>-->
<!--            <div class="form-group">-->
<!--              <label for="inputColor">Color:</label>-->
<!--            </div>-->

<!--            <div class="form-group">-->
<!--              <select-->
<!--                name="color"-->
<!--                required-->
<!--                minlength="3"-->
<!--                maxlength="20"-->
<!--                type="text"-->
<!--                id="color"-->
<!--                class="form-data form-color"-->
<!--              >-->
<!--                <option value="color">red</option>-->
<!--                <option value="color">green</option>-->
<!--                <option value="color">blue</option>-->
<!--              </select>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div>-->
<!--            <div class="form-group">-->
<!--              <label for="inputSize">Size:</label>-->
<!--            </div>-->

<!--            <div class="form-group">-->
<!--              <select-->
<!--                name="size"-->
<!--                required-->
<!--                minlength="1"-->
<!--                maxlength="20"-->
<!--                type="text"-->
<!--                id="size"-->
<!--                class="form-data form-select"-->
<!--              >-->
<!--                <option value="size">s</option>-->
<!--                <option value="size">m</option>-->
<!--                <option value="size">l</option>-->
<!--              </select>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="form-group">-->
<!--            <label for="category">Category</label>-->
<!--          </div>-->

<!--          <div class="form-radio">-->
<!--            <div>-->
<!--              <input-->
<!--                name="categories"-->
<!--                required-->
<!--                type="radio"-->
<!--                id="categories"-->
<!--                class="form-data form-radio"-->
<!--                value="men"-->
<!--              />-->
<!--              <label for="man">Men</label>-->
<!--            </div>-->

<!--            <div>-->
<!--              <input-->
<!--                name="categories"-->
<!--                required-->
<!--                type="radio"-->
<!--                id="categories"-->
<!--                class="form-data form-radio"-->
<!--                value="women"-->
<!--              />-->
<!--              <label for="women">Women</label>-->
<!--            </div>-->
<!--          </div>-->


<!--          -->
<!--          <div class="form-group">-->
<!--            <label for="subCategory">Sub Category</label>-->
<!--          </div>-->

<!--          <div class="form-checkbox">-->
<!--            <div>-->
<!--              <input-->
<!--                name="subCategories"-->
<!--                required-->
<!--                type="checkbox"-->
<!--                id="subCategories"-->
<!--                class="form-data form-radio"-->
<!--                value="shirt"-->
<!--              />-->
<!--              <label for="shirt">Shirt</label>-->
<!--            </div>-->

<!--            <div>-->
<!--              <input-->
<!--                name="categories"-->
<!--                required-->
<!--                type="checkbox"-->
<!--                id="subCategories"-->
<!--                class="form-data form-radio"-->
<!--                value="hoodie"-->
<!--              />-->
<!--              <label for="hoodie">Hoodie</label>-->
<!--            </div>-->
<!--            <div>-->
<!--              <input-->
<!--                name="categories"-->
<!--                required-->
<!--                type="checkbox"-->
<!--                id="subCategories"-->
<!--                class="form-data form-radio"-->
<!--                value="shorts"-->
<!--              />-->
<!--              <label for="shorts">Shorts</label>-->
<!--            </div>-->

<!--            <div>-->
<!--              <input-->
<!--                name="categories"-->
<!--                required-->
<!--                type="checkbox"-->
<!--                id="subCategories"-->
<!--                class="form-data form-radio"-->
<!--                value="jeans"-->
<!--              />-->
<!--              <label for="jeans">Jeans</label>-->
<!--            </div>-->
<!--          </div>-->
<!--        </form>-->
<section th:replace="fragments/scripts"></section>
</body>
</html>
