<!doctype html>
<html lang="en">
<head th:replace="/fragments/head"></head>

<body>
<header th:replace="/fragments/header"></header>

<div class="container justify-content-evenly">
    <div class="row">
        <div class="col-sm-4 p-sm-5">
            <a th:href="@{/administration/add-product}">
                <img class="img-fluid img-responsive" src="images/add-512.png" alt="shirt image">
                <p class="nav-link">Add new product</p>
            </a>
        </div>
        <div class="col-sm-4 p-sm-5">
            <a th:href="@{/administration/modify-product}">
            <img class="img-fluid img-responsive" src="images/modify-512.png" alt="shirt image">
            <p class="nav-link">Modify product</p>
            </a>
        </div>
        <div class="col-sm-4 p-sm-5">
            <a th:href="@{/administration/delete-product}">
            <img class="img-fluid img-responsive" src="images/delete-512.png" alt="shirt image">
            <p class="nav-link">Delete product</p>
            </a>
        </div>

    </div>
</div>


    <section th:replace="/fragments/scripts"></section>
</body>
</html>