<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head"></head>

<body>
<header th:replace="/fragments/header"></header>

<main>
    <section class="last-products">
        <article class="show-item">
          <span>
            <img class="item-img" src="images/shirt.jpg" alt="shirt image">
            <p class="item-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam alias magni assumenda </p>
          </span>
        </article>

        <article class="show-item">
          <span>
            <img class="item-img" src="images/shirt.jpg" alt="shirt image">
            <p class="item-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam alias magni assumenda </p>
          </span>
        </article>

        <article class="show-item">
          <span>
            <img class="item-img" src="images/shirt.jpg" alt="shirt image">
            <p class="item-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam alias magni assumenda </p>
          </span>
        </article>

        <article class="show-item">
          <span>
            <img class="item-img" src="images/shirt.jpg" alt="shirt image">
            <p class="item-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam alias magni assumenda </p>
          </span>
        </article>

        <article class="show-item">
          <span>
            <img class="item-img" src="images/shirt.jpg" alt="shirt image">
            <p class="item-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam alias magni assumenda </p>
          </span>
        </article>

        <article class="show-item">
          <span>
            <img class="item-img" src="images/shirt.jpg" alt="shirt image">
            <p class="item-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam alias magni assumenda </p>
          </span>
        </article>

        <article class="show-item">
          <span>
            <img class="item-img" src="images/shirt.jpg" alt="shirt image">
            <p class="item-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam alias magni assumenda </p>
          </span>
        </article>

        <article class="show-item">
          <span>
            <img class="item-img" src="images/shirt.jpg" alt="shirt image">
            <p class="item-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam alias magni assumenda </p>
          </span>
        </article>

        <article class="show-item">
          <span>
            <img class="item-img" src="images/shirt.jpg" alt="shirt image">
            <p class="item-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam alias magni assumenda </p>
          </span>
        </article>


    </section>
</main>
</body>
</html>
