<!DOCTYPE html>
<html lang="en">
<head th:replace="/fragments/head"></head>

<body>
<header th:replace="/fragments/header"></header>

<main>
    <section class="last-products">
        <article class="show-item">

            <div class="container justify-content-evenly">
                <div class="row">
                    <div class="col-sm-3">
                        <img class="img-fluid" src="images/shirt.jpg" alt="shirt image">
                        <p class="item-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam alias magni assumenda </p>
                    </div>
                    <div class="col-sm-3">
                        <img class="img-fluid" src="images/shirt.jpg" alt="shirt image">
                        <p class="item-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam alias magni assumenda </p>
                    </div>
                    <div class="col-sm-3">
                        <img class="img-fluid" src="images/shirt.jpg" alt="shirt image">
                        <p class="item-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam alias magni assumenda </p>
                    </div>
                    <div class="col-sm-3">
                        <img class="img-fluid" src="images/shirt.jpg" alt="shirt image">
                        <p class="item-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam alias magni assumenda </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <img class="img-fluid" src="images/shirt.jpg" alt="shirt image">
                        <p class="item-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam alias magni assumenda </p>
                    </div>
                    <div class="col-sm-3">
                        <img class="img-fluid" src="images/shirt.jpg" alt="shirt image">
                        <p class="item-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam alias magni assumenda </p>
                    </div>
                    <div class="col-sm-3">
                        <img class="img-fluid" src="images/shirt.jpg" alt="shirt image">
                        <p class="item-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam alias magni assumenda </p>
                    </div>
                    <div class="col-sm-3">
                        <img class="img-fluid" src="images/shirt.jpg" alt="shirt image">
                        <p class="item-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam alias magni assumenda </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <img class="img-fluid" src="images/shirt.jpg" alt="shirt image">
                        <p class="item-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam alias magni assumenda </p>
                    </div>
                    <div class="col-sm-3">
                        <img class="img-fluid" src="images/shirt.jpg" alt="shirt image">
                        <p class="item-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam alias magni assumenda </p>
                    </div>
                    <div class="col-sm-3">
                        <img class="img-fluid" src="images/shirt.jpg" alt="shirt image">
                        <p class="item-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam alias magni assumenda </p>
                    </div>
                    <div class="col-sm-3">
                        <img class="img-fluid" src="images/shirt.jpg" alt="shirt image">
                        <p class="item-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam alias magni assumenda </p>
                    </div>
                </div>
            </div>

        </article>


    </section>
</main>
<section th:replace="/fragments/scripts"></section>
</body>
</html>
