<!doctype html>
<html lang="en">
<head th:replace="~{fragments/head}"></head>
<body>

<header th:replace="~{fragments/header}"></header>

<form
        th:method="POST"
        th:action="@{/users/register}"
        th:object="${registerData}">

    <div class="row justify-content-center">
        <div class="mt-3">
            <div class="card">
                <header class="card-header">
                    <h4 class="card-title mt-2">Sign up</h4>
                </header>
                <article class="card-body">
                    <form>
                        <div th:if="${registrationFailed}" class="text-danger">Username or Email already in use</div>
                        <div class="form-group">
                            <label th:text="#{register_username}">Username</label>
                            <input type="text"
                                   class="form-control"
                                   placeholder=""
                                   id="username"
                                   name="username"
                                   th:field="*{username}"
                                   th:errorclass="is-invalid"
                                   autofocus/>
                            <small class="invalid-feedback text-danger">Username must be between 3 and 50 characters</small>
                        </div> <!-- form-group end.// -->

                        <div class="form-group">
                            <label th:text="#{register_email}">Email address</label>
                            <input type="email"
                                   class="form-control"
                                   placeholder=""
                                   id="email"
                                   name="email"
                                   th:field="*{email}"
                                   th:errorclass="is-invalid">
                            <small class="invalid-feedback text-danger">Invalid Email</small>
                        </div> <!-- form-group end.// -->

                        <div class="form-group">
<!--                            <div class="col form-group">-->
                                <label th:text="#{register_first_name}">First name</label>
                                <input type="text"
                                       class="form-control"
                                       placeholder=""
                                       id="firstName"
                                       name="firstName"
                                       th:field="*{firstName}"
                                       th:errorclass="is-invalid">
                                <small class="invalid-feedback text-danger">First name must be between 3 and 50 characters</small>
<!--                            </div> &lt;!&ndash; form-group end.// &ndash;&gt;-->
                        </div> <!-- form-group end.// -->

                        <div class="form-group">
<!--                            <div class="col form-group">-->
                                <label th:text="#{register_last_name}">Last name</label>
                                <input type="text"
                                       class="form-control"
                                       placeholder=""
                                       id="lastName"
                                       name="lastName"
                                       th:field="*{lastName}"
                                       th:errorclass="is-invalid">
                                <small class="invalid-feedback text-danger">Last name must be between 3 and 50 characters</small>
<!--                            </div> &lt;!&ndash; form-group end.// &ndash;&gt;-->
                        </div> <!-- form-row end.// -->

                        <div class="form-group">
                            <label th:text="#{register_password}">Password</label>
                            <input class="form-control"
                                   type="password"
                                   id="password"
                                   name="password"
                                   th:errorclass="is-invalid">
                            <small class="invalid-feedback text-danger">Password must be between 4 and 50 characters</small>
                        </div> <!-- form-group end.// -->
                        <div class="form-group">
                            <label th:text="#{register_confirm_password}">Confirm Password</label>
                            <input class="form-control"
                                   type="password"
                                   id="confirmPassword"
                                   name="confirmPassword"
                                   th:errorclass="is-invalid">
                            <div th:if="${passwordMismatch}" class="text-danger">Passwords doesn't match</div>
                        </div> <!-- form-group end.// -->
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block" value="Register"
                                    th:text="#{register_register}"> Register</button>
                        </div> <!-- form-group// -->
                        <small class="text-muted">By clicking the 'Sign Up' button, you confirm that you accept our <br>
                            Terms of use and Privacy Policy.</small>
                    </form>
                </article> <!-- card-body end .// -->
                <div class="border-top card-body text-center">Have an account? <a th:href="@{/users/login}">Log In</a>
                </div>
            </div> <!-- card.// -->
        </div> <!-- col.//-->

    </div> <!-- row.//-->

    </div>
    <!--container end.//-->
</form>
<section th:replace="~{/fragments/scripts}"></section>
</body>
</html>