<!doctype html>
<html lang="en">
<head>
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>yours clothing</title>
        <link rel="stylesheet" href="/static/css/styles.css"/>
    </head>
</head>
<body>

<header>
    <nav class="navigation">
        <ul>
            <li class="nav-item">
                <a class="nav-link" href="">Men</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="">Women</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="">Children</a>
            </li>
        </ul>

        <ul>
            <th:block class="auth-items" th:unless="${@currentUser.isLoggedIn()}">
                <li class="nav-item">
                    <a class="nav-link" href="">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">Register</a>
                </li>
            </th:block>

            <th:block class="auth-items" th:if="${@currentUser.isLoggedIn()}">
                <li class="nav-item">
                    <a class="nav-link" href="">Cart</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="">Profile</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="">Logout</a>
                </li>
            </th:block>

            <li class="nav-item">
                <a class="nav-link" href="">Administration</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="">About</a>
            </li>

        </ul>

    </nav>

</header>

<section class="registration">

    <form
            th:action="@{/users/register}"
            method="POST">

        <h4>Registration</h4>

        <label for="username">Username:</label>
        <input
                type="text"
                id="username"
                name="username"
                autofocus="autofocus"/>

        <label for="firstName">First Name:</label>
        <input
                type="text"
                id="firstName"
                name="firstName"/>

        <label for="lastName">Last Name:</label>
        <input
                type="text"
                id="lastName"
                name="lastName"/>

        <label for="email">Email:</label>
        <input
                type="text"
                id="email"
                name="email"/>

        <label for="password">Password:</label>
        <input type="password"
               id="password"
               name="password"/>

        <label for="confirmPassword">Confirm Password:</label>
        <input type="password"
               id="confirmPassword"
               name="confirmPassword"/>

        <input class="btn btn-link" type="submit" value="Register"/>
    </form>
</section>

</body>
</html>